spring:
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false
  datasource:
    url: jdbc:postgresql://ep-fancy-grass-ah86iljg-pooler.c-3.us-east-1.aws.neon.tech:5432/neondb
    username: neondb_owner
    password: npg_i4CsnSDcNF9v
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

server:
  port: 8080
